<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<section class="section animate-scroll" id="contact">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-12">
              <div class="text-center mx-auto section-main-title">
                  <h2>Get In <span class="fw-bold">Touch</span></h2>
                  <div class="main-title-border">
                      <i class="mdi mdi-asterisk"></i>
                  </div>
                  <p class="text-muted mx-auto mt-2">I’d love to hear from you! Whether you have a question, a potential project, or an opportunity to collaborate, don’t hesitate to get in touch. I'm eager to connect and explore new possibilities!</p>
              </div>
          </div>
      </div>
      <div class="row mt-4 pt-lg-4">
        <div class="row mt-4 pt-lg-4">
            <div class="col-lg-4 text-center">
                <a href="tel:+15139579911" style="text-decoration: none; color: inherit;">
                <div>
                    <i class="fa fa-phone" style="font-size:36px"></i>
                </div>
                <div class="mt-2">
                    <p class="mb-0 fw-bold">Call Me</p>
                    <p class="text-muted">+1 513 957 9911</p>
                </div>
            </a>
            </div>
            <div class="col-lg-4 text-center"  onclick="window.open('mailto:aniruthravula1@gmail.com', '_blank')"  >
  
                <div        >
                    <i class="fa fa-envelope" style="font-size:36px"></i>
                    
                </div>
                <div class="mt-2">
                    <p class="mb-0 fw-bold">Email Me At</p>
                    <p class="text-muted">aniruthravula1&#64;gmail.com</p>
                </div>
            </div>
            <div class="col-lg-4 text-center" onclick="window.open('skype:live:anniravula?chat', '_blank')">
                <div>
                    <i class="fa fa-skype" style="font-size:36px"></i>
                </div>
                <div class="mt-2">
                    <p class="mb-0 fw-bold">Hit Me Up</p>
                    <p class="text-muted">live:anniravula</p>
                </div>
            </div>
        </div>
        
          <!-- <div class="col-lg-8">
              <div class="contact_form">
                  <div id="message"></div>
                  <form method="post" action="php/contact.php" name="contact-form" id="working_form">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="form-group mt-2 mb-3">
                                  <label for="name" class="fw-bold mb-2">Name</label>
                                  <input name="name" id="name" type="text" class="form-control" placeholder="Your name..." required >
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group mt-2 mb-3">
                                  <label for="email" class="fw-bold mb-2">Email address</label>
                                  <input name="email" id="email" type="email" class="form-control" placeholder="Your email..." required >
                              </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="form-group mt-2 mb-3">
                                  <label for="subject" class="fw-bold mb-2">Subject</label>
                                  <input type="text" class="form-control" id="subject" placeholder="Your Subject.." required />
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="form-group mt-2 mb-3">
                                  <label for="comments" class="fw-bold mb-2">Message</label>
                                  <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your message..."></textarea>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-12 text-right">
                              <button type="submit" id="submit" name="send" class="submitBnt btn btn-custom">Send Message</button>
                              <div id="simple-msg"></div>
                          </div>
                      </div>
                  </form>
              </div>
          </div> -->
      </div>
  </div>
</section>
