<!-- START EXP. & EDU. -->
<section class="section animate-scroll" id="experience">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="text-center mx-auto section-main-title">
          <h2><span class="fw-bold">Experience</span></h2>
          <div class="main-title-border">
            <i class="mdi mdi-asterisk"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-1 pt-4">
      <div class="">
        <div class="cv_edu_exp mt-3">

          <div class="cv_edu_exp_box mt-4 hover-box" style="background-color: #f4f6f6;">
            <div class="row">
              <div class="col-lg-12">
                <h4 class="cv_edu_exp_year fw-bold text-custom position-relative">Full Stack Java Developer</h4>
                <div class="cb_edu_exp_detail">
                  <span style="font-size:16px" class="fw-bold">Xpanse - Bellevue, WA</span><span
                    style="font-size:16px;font-weight: 700;" class="  position-relative">&emsp;February 2024 to
                    Present</span>
                  <p class="cv_desc mb-0">&#9642; Increased user engagement by 15% by developing responsive,
                    user-friendly web application to define and manage business rules utilizing HTML, TypeScript, CSS,
                    and Angular, ensuring optimal performance across multiple platforms.</p>
                  <p class="cv_desc mb-0">&#9642; Developed and implemented RESTful APIs using Java, Spring Boot, and
                    Spring Data JPA, employing a microservices architecture, improving scalability and reducing
                    maintenance efforts by 25%.</p>
                  <p class="cv_desc mb-0">&#9642; Implemented Spring Security for robust authentication and
                    authorization in Java-based web applications.</p>
                  <p class="cv_desc mb-0">&#9642; Led the migration of complex business rules from InRule application to
                    a custom web application based on Drools, achieving a 40% reduction in licensing costs.</p>
                  <p class="cv_desc mb-0">&#9642; Leveraged AWS services such as S3, Code Pipeline, Code Build, and
                    Elastic Beanstalk to optimize continuous integration, deployment, and hosting workflows.</p>
                  <p class="cv_desc mb-0">&#9642; Deployed Docker containers to standardize application deployment
                    across diverse environments, improving operational reliability and consistency.</p>
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>Spring Boot</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>Spring Security</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>Spring Data JPA</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>Angular</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>HTML</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>TypeScript</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>PostgreSQL</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>Drools</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>AWS</button>
                </div>
              </div>
            </div>
          </div>

          <div class="cv_edu_exp_box mt-4 hover-box" style="background-color: #f4f6f6;">
            <div class="row">
              <div class="col-lg-12">
                <h4 class="cv_edu_exp_year fw-bold text-custom position-relative">Machine Learning Engineer Co-op</h4>
                <div class="cb_edu_exp_detail">
                  <span style="font-size:16px" class="fw-bold">KLH Engineers - Fort Thomas, KY</span><span
                    style="font-size:16px;font-weight: 700;" class="  position-relative">&emsp;August 2023 to
                    December 2023</span>
                  <p class="cv_desc mb-0">&#9642; Implemented advanced time series forecasting techniques using SARIMAX,
                    Prophet, XGBoost, LGBM, NBEATS, LSTMs, and Neural Prophet to solve complex forecasting challenges,
                    delivering accurate predictions and data-driven insights for critical business decisions.
                  </p>
                  <p class="cv_desc mb-0">&#9642; Specialized in natural language processing (NLP), leveraging deep
                    learning models such as LSTMs, GRUs, and Transformers for precise text classification. Successfully
                    integrated these models into business applications via Flask RESTful APIs, automating processes and
                    reducing manual workload by 70%.</p>
                  <p class="cv_desc mb-0">&#9642; Leveraged Prodigy AI for efficient data collection and labeling,
                    ensuring high-quality, reliable datasets that powered robust model training and analysis, leading to
                    superior outcomes in various machine learning projects.</p>
                  <p class="cv_desc mb-0">&#9642; Developed and implemented a Mask R-CNN model for 2D object detection,
                    significantly enhancing the organization’s computer vision capabilities and enabling advanced
                    automation in image-based tasks.</p>

                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>Flask</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>TensorFlow</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>PyTorch</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>Statsmodels</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>Scikit-Learn</button>&nbsp;
                  <!-- <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>Prodigy AI</button>&nbsp; -->
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>Time Series</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>Text Classification</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>Computer Vision</button>&nbsp;
                </div>
              </div>
            </div>
          </div>

          <div class="cv_edu_exp_box mt-4 hover-box" style="background-color: #f4f6f6;">
            <div class="row">
              <div class="col-lg-12">
                <h4 class="cv_edu_exp_year fw-bold text-custom position-relative">Full Stack Java Developer</h4>
                <div class="cb_edu_exp_detail">
                  <span style="font-size:16px" class="fw-bold">Tata Consultancy Services - Chennai, TN</span><span
                    style="font-size:16px;font-weight: 700;" class="  position-relative">&emsp;Novomber 2020 to
                    July 2022</span>
                  <p class="cv_desc mb-0">&#9642; Developed and maintained Java-based web applications like Dashboards
                    to onboard KPIs using Spring Boot, enhancing front-end interfaces with HTML, JavaScript, and CSS.
                  </p>
                  <p class="cv_desc mb-0">&#9642; Streamlined data interactions between Spring Boot and MongoDB via
                    Spring Data MongoDB, ensuring seamless data access and optimizing operational efficiency.</p>
                  <p class="cv_desc mb-0">&#9642; Optimized Spring Boot application integration with external systems
                    using their RESTful APIs, reducing troubleshooting time for the monitoring team by 80%.</p>
                  <p class="cv_desc mb-0">&#9642; Automated server troubleshooting to handle unusual activity by
                    integrating AppDynamics and Splunk data via REST APIs, reducing manual troubleshooting time by 70%.
                  </p>
                  <p class="cv_desc mb-0">&#9642; Developed and implemented ARIMA-based time series forecasting models
                    to accurately predict key business KPIs, enabling proactive decision-making and the adoption of
                    preventive measures to mitigate potential risks.</p>
                  <p class="cv_desc mb-0">&#9642; Collaborated with cross-functional teams to gather requirements,
                    provide technical guidance, and ensure timely delivery of project deliverables.</p>

                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>Spring Boot</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>Spring Data MongoDB</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>MongoDB</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>HTML</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>JavaScript</button>&nbsp;
                  <!-- <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>Prodigy AI</button>&nbsp; -->
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>CSS</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>AppDynamics</button>&nbsp;
                  <button type="button" class="btn btn-secondary btn-rounded hover-light"
                    style="font-size: 16px; padding: 8px 12px;" mdbRipple>Splunk</button>&nbsp;
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>



    </div>
  </div>
</section>
<!-- END EXP. & EDU. -->

<!-- START CTA -->
<!-- <section class="section bg-cta">
          <div class="bg-overlay"></div>
          <div class="container z-index">
            <div class="row">
              <div class="col-lg-12">
                <div class="text-center text-white">
                  <h1>I Am Available For Freelancer.</h1>
                  <div class="mt-4">
                    <a href="javascript:void(0)" class="btn btn-outline-custom">Hire Me!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section> -->
<!-- END CTA -->