        <!-- START CLIENT -->
        <!-- <section class="section bg-client" id="client">
          <div class="bg-overlay"></div>
          <div class="container z-index">
              <div class="row justify-content-center">
                  <div class="col-lg-12">
                      <div class="text-center mx-auto text-white section-main-title">
                          <h2>Our <span class="fw-bold">Client</span></h2>
                          <div class="main-title-border">
                              <i class="mdi mdi-asterisk"></i>
                          </div>
                          <p class="mx-auto mt-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                      </div>
                  </div>
              </div>
              <div class="row mt-4 pt-4">
                  <div class="col-lg-12">
                      <div class="carousel slide">
                          <div class="carousel-inner">
                              <div class="carousel-item active text-white people_says text-center">
                                  <div class="people_icon">
                                      <i class="mbri-user"></i>
                                  </div>
                                  <div class="people_review_box mt-4">
                                      <p class="people_name text-white h5 fw-bold mb-0">Kirk McFall</p>
                                      <p class="h6">Google</p>
                                      <p class="people_review text-white mx-auto pt-3 mb-0">" The most well-known dummy text is the 'Lorem Ipsum', which is said originated the 16th century. This ancient dummy text is also  incomprehensible, of most European in Latin script."</p>
                                  </div>
                              </div>
                              <div class="carousel-item text-white people_says text-center">
                                  <div class="people_icon">
                                      <i class="mbri-user"></i>
                                  </div>
                                  <div class="people_review_box mt-4">
                                      <p class="people_name text-white h5 fw-bold mb-0">Edward Evans</p>
                                      <p class="h6">Google</p>
                                      <p class="people_review text-white mx-auto pt-3 mb-0">" The most well-known dummy text is the 'Lorem Ipsum', which is said originated the 16th century. This ancient dummy text is also  incomprehensible, of most European in Latin script."</p>
                                  </div>
                              </div>
                              <div class="carousel-item text-white people_says text-center">
                                  <div class="people_icon">
                                      <i class="mbri-user"></i>
                                  </div>
                                  <div class="people_review_box mt-4">
                                      <p class="people_name text-white h5 fw-bold mb-0">Antonio Hernandez</p>
                                      <p class="h6">Google</p>
                                      <p class="people_review text-white mx-auto pt-3 mb-0">" The most well-known dummy text is the 'Lorem Ipsum', which is said originated the 16th century. This ancient dummy text is also  incomprehensible, of most European in Latin script."</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      END CLIENT -->

      <!-- START GREAT PEOPLE -->
<section class="section bg-light animate-scroll" id="skills">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="text-center mx-auto section-main-title">
                    <h2><span class="fw-bold">Skills</span></h2>
                    <div class="main-title-border">
                        <i class="mdi mdi-asterisk"></i>
                    </div>
                </div>
            </div>
        </div>

        <div id="carouselExampleInterval" class="carousel slide bg-light" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" >
                    <div class="row pt-4 div-aligner">
                        <!-- First 14 skill divs -->
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/skill-1.png" class="mx-auto img-fluid d-block">
                                    <div class="hover-text">Spring</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/skill-3.png" class="mx-auto img-fluid d-block">
                                    <div class="hover-text">Spring Boot</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/skill-2.png" class="mx-auto img-fluid d-block">
                                    <div class="hover-text">Spring Security</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/skill-4.png" class="mx-auto img-fluid d-block">
                                    <div class="hover-text">Flask</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/skill-5.png" class="mx-auto img-fluid d-block">
                                    <div class="hover-text">Angular</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/skill-6.png" class="mx-auto img-fluid d-block">
                                    <div class="hover-text">Drools</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/skill-7.png" class="mx-auto img-fluid d-block">
                                    <div class="hover-text">PostgreSQL</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/skill-8.png" class="mx-auto img-fluid d-block">
                                    <div class="hover-text">MySQL</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/skill-9.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">MongoDB</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/git.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">Git</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/github.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">GitHub</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/appdynamics.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">AppDynamics</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/splunk.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">Splunk</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" >
                    <div class="row pt-4 div-aligner">
                        <!-- Remaining skill divs -->
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/aws.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">AWS</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/skill-10.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">Java</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/skill-11.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">Python</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/skill-12.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">C Programming</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/skill-13.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">HTML</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/js.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">JavaScript</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/ts.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">TypeScript</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/bash.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">Bash</div>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/matlab.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">MATLAB</div>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/docker.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">Docker</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/junit.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">JUnit 5</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/postman.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">Postman</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 three-D">
                            <div class="logo_img">
                                <a href="javascript:void(0)">
                                    <img src="assets/images/skills/labview.png" class="mx-auto img-fluid d-block" style="padding-top: 7px; padding-bottom: 7px;">
                                    <div class="hover-text">LabVIEW</div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button"  data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
<!-- END GREAT PEOPLE -->
      <!-- START SUBCRIBE  -->
      <!-- <section class="section">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-12">
                      <div class="text-center mx-auto section-main-title">
                          <h2><span class="fw-bold">Subscribe</span> to Newsletter </h2>
                          <div class="main-title-border">
                              <i class="mdi mdi-asterisk"></i>
                          </div>
                          <p class="text-muted mx-auto mt-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                      </div>
                  </div>
              </div>
              <div class="row mt-4 pt-4">
                  <div class="col-lg-12">
                      <div class="text-center subcribe-newslatter mt-4">
                          <form class="mx-auto position-relative">
                              <input type="text" placeholder="Email" required>
                              <button type="submit" class="btn btn-custom">Subcribe</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </section> -->
      <!-- END SUBCRIBE -->
